<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="icon" href="/static/journal.png" type="image/png">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>

<div>
    <form th:action="@{/electronicJournal/page/1}">
        <div class="row justify-content-left" style="margin-left:3%">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>
            <input type="datetime-local" name="eventTime"/> &nbsp; &nbsp;
            <input type="datetime-local" name="recordCreationDate"/> &nbsp; &nbsp;

            <button class="btn btn-primary" type="submit">Найти</button>
        </div>
    </form>
</div>

<br>
<form action="/electronicJournal/description/" method="get">
    <div class="row justify-content-left" style="margin-left:3%">
        <label>
            Поиск: &nbsp;
        </label>
        <input type="search" name="eventDescription" placeholder="Введите ключевое слово" required size="22%"/> &nbsp;
        <button class="btn btn-primary" type="submit">Найти</button>
    </div>
</form>
<br>
<form action="/electronicJournal/index" method="get">
    <div class="row justify-content-left" style="margin-left:3%">
        <button type="submit" class="btn btn-secondary"> Вернуться на главную</button>
    </div>
</form>
<br>
<div th:if="${#httpServletRequest.remoteUser} != 'Кендыш И.В.'">
    <a th:href="@{/electronicJournal/create}" class="btn btn-success btn-sm mb-3 row justify-content-left"
       style="margin-left:3%"> Создать новую запись </a>
</div>

<form action="@{/electronicJournal/save}" method="get">
</form>

<table class="table" align="center">
    <thead class="thead-dark">
    <tr>
        <th>ФИО дежурного</th>
        <th>Номер бригады</th>
        <th>
            <a th:href="@{'/electronicJournal/page/' + ${currentPage} + '?sortField=eventTime&sortDir=' + ${reverseSortDir}}">Время
                события</a>
        </th>
        <th>Описание события</th>
        <th>Действие дежурного</th>
        <th>Статус действия</th>
        <!--<th>Дата создания записи</th>-->
        <th>Действие с записями</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="ej : ${electronicJournal}">
        <td><span th:text="${ej.officerFullName}">ФИО дежурного</span></td>
        <td><span th:text="${ej.brigadeNumber}">Номер бригады</span></td>
        <td><span th:text="${#temporals.format(ej.eventTime, 'dd-MM-yyyy HH:mm')}">Время события</span></td>
        <td><span th:text="${ej.eventDescription}">Описание события</span></td>
        <td><span th:text="${ej.dutyOfficer}">Действие дежурного</span></td>
        <td><span th:text="${ej.actionStatus}">Статус действия</span></td>
        <!--<td><span th:text="${#temporals.format(ej.recordCreationDate, 'dd-MM-yyyy HH:mm')}">Дата создания записи</span>-->
        <div th:if="${#httpServletRequest.remoteUser} == ${ej.officerFullName}">
            <td>
                <a th:href="@{/electronicJournal/edit/{id}(id=${ej.id})}" class="btn btn-primary">Редактировать</a>
                <p></p>
                <a th:href="@{/electronicJournal/delete/{id}(id=${ej.id})}" class="btn btn-danger">Удалить</a>
            </td>
        </div>
    </tr>
    </tbody>
</table>

<div th:if="${totalPages > 1}">
    Всего записей: [[${totalItems}]]
    <p></p>
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link" th:href="@{'/electronicJournal/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +
    '&eventTime=' + ${eventTime != null ? eventTime : ''} + '&recordCreationDate=' + ${recordCreationDate != null ? recordCreationDate : ''}}">Первая
                    страница</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link" th:href="@{'/electronicJournal/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +
       '&eventTime=' + ${eventTime != null ?  eventTime : ''} + '&recordCreationDate=' + ${recordCreationDate != null ? recordCreationDate : ''}}">Предыдущая
                    страница</a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 5 > 1}">
                <a class="page-link" href="#">...</a>
            </li>

            <li class="page-item" th:classappend="${i == currentPage} ? 'active'"
                th:each="i : ${#numbers.sequence(currentPage > 5 ? currentPage - 5 : 1, currentPage + 5 < totalPages ? currentPage + 5 : totalPages)}">
                <a class="page-link" th:href="@{'/electronicJournal/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +
               '&eventTime=' + ${eventTime != null ? eventTime : ''} + '&recordCreationDate=' + ${recordCreationDate != null ? recordCreationDate : ''}}">[[${i}]]</a>
            </li>

            <li class="page-item disabled" th:if="${currentPage + 5 < totalPages}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{'/electronicJournal/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +
       '&eventTime=' + ${eventTime != null ? eventTime : ''} + '&recordCreationDate=' + ${recordCreationDate != null ? recordCreationDate : ''}}">Следующая
                    страница</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{'/electronicJournal/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +
       '&eventTime=' + ${eventTime != null ? eventTime : ''} + '&recordCreationDate=' + ${recordCreationDate != null ? recordCreationDate : ''}}">Последняя
                    страница</a>
            </li>
        </ul>
    </nav>
</div>

<footer th:insert="~{blocks/footer :: footer}"></footer>
<script src="/static/js/jquery-3.6.4.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>